@font-face {
    font-family: "GraphikWide";
    src: url("https://mintlify-assets.b-cdn.net/x/GraphikWide-Semibold-Trial.woff") format("woff");
    font-weight: 600;
}

.font-branded, h1, h2, h3  {
  font-family: "GraphikWide" !important;
  letter-spacing: -1%;
}

.form {
  padding: 15px;
  width: 100%;
  min-height: 300px;
  overflow-y: auto;
}

.rate-limit-table th {
  text-align: left;
}

tr td[data-label="Endpoint"] a {
  font-size: 12px;
}

tr td[data-label="Pro Limit"],
tr td[data-label="Basic Limit"],
tr td[data-label="Free Limit"] {
  font-size: 12px;
}

td[data-label="Pro Limit"] strong,
td[data-label="Basic Limit"] strong,
td[data-label="Free Limit"] strong {
  margin-bottom: 8px;
  display: block;
}

.text-hero {
  color: white;
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
}

@media (max-width: 767px) {
  .text-hero {
    font-size: 2rem;
  }
}