@font-face {
    font-family: "GraphikWide";
    src: url("https://mintlify-assets.b-cdn.net/x/GraphikWide-Semibold-Trial.woff") format("woff");
    font-weight: 600;
}

.font-branded, h1, h2, h3  {
  font-family: "GraphikWide";
  letter-spacing: -1%;
}

.form {
  padding: 15px;
  width: 100%;
  min-height: 300px;
  overflow-y: auto;
}